<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
				<bindingRedirect oldVersion="4.0.0.0-4.9.9.9" newVersion="4.4.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
