<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<connectionStrings>
		<add name="MI_Donations" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MI_Donations;Integrated Security=SSPI" />
		<add name="ADConnectionString" connectionString="LDAP://localhost/CN=Users,CN=PartitionOne,DC=SpencerLaptop" />
		<add name="Mi_Logging" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MI_Logging;Integrated Security=SSPI" />
	</connectionStrings>
</configuration>
